
  <% session[:game] = true %>

  <script> var player1 = <%= @player.to_json; %>

      </script>

<div id="game_container">
  <div id="left_score">
    <%= @player.name %> scores
  </div>

<div id="left_card">
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">


          <p> front </p>
          </div>

    </div>
    <div class="back">
          <%=  @player_card.name %>
          <p> back </p>
        </div>

    </div>
  </div>
</div>






  <div id="right_score">
    <%= @player.name %> scores
  </div>

  <div id="flip_button">
    <form action="/game" method="POST">
    <button type="submit" name="Battle!">Battle!</button>
    </form>
  </div>

  <form action="/signout" method="POST">
    <button type="submit" name="Signout">Signout</button>
  </form>

</div>
