<% session[:game] = true %>
<% player1 = Player.find(session[:player1]) %>
<% player2 = Player.find(session[:player2]) %>

<div id="game_container">
  <div id="left_score">
    <%= player1.name %> scores
  </div>

  <div id="left_card">
    <%= player1.cards.first.name %>
  </div>

  <div id="right_card">
     <%= player2.cards.first.name %>
  </div>

  <div id="right_score">
    <%= player2.name %> scores
  </div>

  <div id="flip_button">
    <form action="/game" method="POST">

    <button type="submit" name="Battle!">Battle!</button>
    </form>
  </div>

  <form action="/signout" method="POST">
    <button type="submit" name="Signout">Signout</button>
  </form>

</div>


