

<div id="game_container">
  <div id="left_score">
    play 1 scores
  </div>

  <div id="left_card">
    player1 show card
  </div>

  <div id="right_card">
     player2 show card
  </div>

  <div id="right_score">
    play 2 scores
  </div>

  <div id="flip_button">
    <form action="/game" method="POST">

    <button type="submit" name="Battle!">Battle!</button>
    </form>


</div>


