<div id='game_container'>
  <% if session[:winner] == current_user.id %>
    <h1>Congratulations, <%= current_user.name %>, </h1>You've beaten the computer!</h1>

  <% else %>
    <h1>Too bad, <%= current_user.name %>, You've been beaten by the computer!</h1>
  <% end %>

  <h2>Want to <a href='/game/new'>play again?</a><h2>
    <h2>Or is it time to <a href='/signout'>give someone else a chance?</a></h2>

</div>



