
<h3>Sign in first, so we can track your wins and losses</h3>
<div id="login_form">




  <form action="/login" method="POST">

    Name: <input type="text" name="player[name]"><br>
    Password: <input type="password" name="player[password]"><br>
    <p><a href='/signup'>Sign up? </a><input type="submit">
  </form>
</div>
