<div id="signup_form">
  <form action="/signup" method="POST">
    <br>Sign Up: <br>
    Name: <input type="text" name="player[name]"><br>
    Password: <input type="password" name="player[password]"><br>
    Password: <input type="password" name="player[password_confirmation]"><br>
    <input type="submit">
  </form>
</div>
