/* CSS declarations go here */
body {text-align: center;font-family: Vollkorn; font-size: 160%; line-height: 160%; background-color: #195009 ;/* margin: 0; */background-size: cover;/* display: inline; */}
h1, h2, h3, h4, h5, h6 {font-family: Georgia; line-height:100%; margin-top: 0.5em; margin-bottom: 0.5em; color: papayawhip; font-style: italic; font-weight: 400;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;font-style: normal;}
h4 {font-size: 1.3em;font-style: normal;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;}
p, pre, blockquote, table, ul, ol, dl {margin-top: .5em; margin-bottom: .5em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li {margin: 0.3em auto;}
ul {margin-left: .5em; padding-left: 0.5em;}
dt {font-weight: bold;}
img {margin-right: 20px;border: none; /* width: 80px; */ /* height: 100px; */}
pre {border-left: 1px solid #ccc; margin-left: 0em; padding-left: 0.5em;}
blockquote {padding: 0.3em; background-color: #E8F2F5; margin-left:0.5em; margin-right:0;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #E8F2F5; width: 100%;}
del {text-decoration: line-through; color: #777777;}
.toc li {list-style-type: none;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.center {margin-left: auto; margin-right: auto;}

footer { font-size: 0.7em; margin-top: 2em;}

div#login-toolbar {

    padding-right: 20px;
    font-size: small;
    text-align: right;
    height: 47px;
    z-index: 4;

    background: #090f09; /* Old browsers */  background: -moz-linear-gradient(top,  #090f09 0%, #195009 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#090f09), color-stop(100%,#195009)); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  #090f09 0%,#195009 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  #090f09 0%,#195009 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  #090f09 0%,#195009 100%); /* IE10+ */  background: linear-gradient(to bottom,  #090f09 0%,#195009 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#090f09', endColorstr='#195009',GradientType=0 ); /* IE6-9 */;
}

button {
    border: 5px double papayawhip;
    border-radius: 132px;
    background: darkgreen;
    width: 175px;
    height: 175px;
}

div#login_form_button {
    position: relative;
    margin-top: 15px;
    /* margin-right: 25%; */
    width: 10%;
    position: absolute;
    left: 24%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: papayawhip;
    font-size: 2em;
    font-variant: small-caps;
}
div#signup_form_button {
    width: 10%;
    position: absolute;
    left: 26%;
    right: 0px;
    /* margin-left: auto; */
    margin-right: auto;
    margin-top: 15px;
    color: papayawhip; font-size: 2em; font-variant: small-caps;
}
div#logo {
    z-index: 3;
    position: relative;
    height: 238px;
}

div#leaderboard {
    margin-left: 20%;
    padding-left: 59px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: .8em;
    background-color: darkgreen;
    margin-right: 20%;
    border: 8px double;
    border-radius: 181px;
    border-color: papayawhip;
}

div#logo_fan {
    width: 35%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -20px;
}
div#login_form {
    width: 300px;
    position: relative;
    top: 71%;
    border-radius: 25px;
    /* text-align: right; */
    /* margin-right: 40%; */
    left: 36%;
    background-color: darkgreen;
}

div#signup_form {
    width: 300px;
    position: relative;
    top: 71%;
    border-radius: 25px;
    /* text-align: right; */
    /* margin-right: 40%; */
    left: 36%;
    background-color: darkgreen;
}
#content {
    margin: 0;
    /* padding: 0 1em; */
    position: relative;
    height: 900px;
    background: url('/img/green_felt.jpg');
    background-size: cover;
}
a {
    color: #36AECC;
    text-decoration: none;
}

a:visited {
    color: #AAA;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.logo {
  height: 2em;
}

code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0px 3px;
    display: inline-block;
    color: #52595d;
    background-color: #E8F2F5;
    font-size: 40%;
    line-height: 1.4em;
    margin-left: -1em;
    overflow: auto;
}

#leader_board {

}
#game_container {
    width: 100%;
    height: 100%;
}


#left_score {
    float: left;
    position: absolute;
    color: papayawhip;
    left-margin: 10%;
    top: 65px;
    left: 10%;
    text-align: left;
}

#right_score {
    position: absolute;
    color: papayawhip;
    right-margin: 9px;
    top: 57px;
    right: 10%;
}

#right_card {
position: absolute;
right: 10%;
    background: url('/img/card_back.jpg');
    background-size: cover;

top: 15%;
border-color: black;
border-width: 1px;
border-style: groove;

}

#left_card {

position: absolute;
    background: url('/img/card_back.jpg');
    background-size: cover;

left: 10%;

border-color: black;
border-width: 1px;
border-style: groove;


top: 15%;


}

#flip_button {
position: absolute;
margin: auto;
bottom: 48%;
left: 43%;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    background: url('/img/card_backcopy.jpg');
    background-size: cover;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    background-color: white;
    background-size: cover;
    transform: rotateY(180deg);
}



