/* CSS declarations go here */
body {font-family: Vollkorn; font-size: 160%; line-height: 160%; background-color: #195009 }
h1, h2, h3, h4, h5, h6 {font-family: Georgia; line-height:100%; margin-top: 0.5em; margin-bottom: 0.5em; color: #36AECC; font-style: italic; font-weight: 400;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.3em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;}
p, pre, blockquote, table, ul, ol, dl {margin-top: .5em; margin-bottom: .5em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li {margin: 0.3em auto;}
ul {margin-left: .5em; padding-left: 0.5em;}
dt {font-weight: bold;}
img {border: none; width: 80px; height: 100px;}
pre {border-left: 1px solid #ccc; margin-left: 0em; padding-left: 0.5em;}
blockquote {padding: 0.3em; background-color: #E8F2F5; margin-left:0.5em; margin-right:0;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #E8F2F5; width: 100%;}
del {text-decoration: line-through; color: #777777;}
.toc li {list-style-type: none;}
.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}
.center {margin-left: auto; margin-right: auto;}

footer { font-size: 0.7em; margin-top: 2em;}


#content {
    margin: 0;
    padding: 0 1em;
    position: relative;
    height: 900px;
}
a {
    color: #36AECC;
    text-decoration: none;
}

a:visited {
    color: #AAA;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.logo {
  height: 2em;
}

code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0px 3px;
    display: inline-block;
    color: #52595d;
    background-color: #E8F2F5;
    font-size: 40%;
    line-height: 1.4em;
    margin-left: -1em;
    overflow: auto;
}

#game_container {
    width: 100%;
    height: 100%;
}


#left_score {
    position: absolute;
    left-margin: 10px;
    top: 20px;
    left:20px;
}

#right_score {
    right-margin: 10px;
    position: absolute;
    right-margin: 10px;
    top: 20px;
    right: 20px;
}

#right_card {
position: absolute;
right: 30%;
height: 25%;
width: 10%;
border-color: black;
border-width: 1px;
border-style: groove;
background-color: white
}

#left_card {
/* top: 20px; */
/* right: 20px; */
position: absolute;
left: 30%%;
height: 25%;
width: 10%;
border-color: black;
border-width: 1px;
border-style: groove;
background-color: white
}

#flip_button {
position: absolute;
right: 50%;
bottom: 20%;
}

.flip-container {
    perspective: 1000;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}
