
<div id="landing_page">
  <div id="welcome">
    <div id="logo">
      <img src="/img/CardWars.png">
    </div>
    <div id="logo_fan">
      <img src="/img/cardAlpha.png">
    </div>
    <h1>The Game of Card Domination</h1>
    <div id="leaderboard">
    <h3> Current Leaderboard </h3>
      <% top_scores.each_with_index do |player, index| %>
        <h4> <%= index+1 %> : <%= player.name %>  -  Wins: <%= player.win_record %> </h4>
      <% end %>
    </div>
  </div>

  <div id="user_container">
    <% if current_user %>
      <h4><span>Welcome back, <%= current_user.name %>!</span>
      <a href="/game">Ready to play?</a></h4>
    <% else %>

    <div id="login_form_button">
      <form action="/login" method="GET">
        <button type="submit">Login</button>
      </form>
    </div>

    <div id="signup_form_button">
      <form action="/signup" method="GET">
        <button type="submit">Create</button>
      </form>
    </div>
    <% end %>
  </div>

<!--   <div id="footsignup">
    <a href="/login">Login Here</a> | <a href="/signup">First time?</a>
  </div> -->
</div>
